/* CSS FILE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
}
body {
    background-image: linear-gradient(to top right, rgb(169,47,193), rgb(42,17,101), rgb(34,45,158));
    background-attachment: fixed;
}
main {
    margin: 0 27vw 4vh 22vw;
}

/* COMMON CLASSES */

.click:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* NAVBAR */

.navBar {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    z-index: 2;
    padding: 2rem;
    top: 0;
}
.left {
    width: 20vw;
    left: 0;
}
.right {
    width: 25vw;
    right: 0;
}
.logo {
    border-radius: 8px;
    box-shadow: 0px 0px 15px white;
}
.title {
    text-shadow: 0px 0px 2px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem;
    margin-top: -0.5rem;
    border-bottom: 1.5px solid;
}
.part {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.button {
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
    padding: 0.4rem 1rem;
    border-radius: 5px;
}
.button:hover {
    cursor: pointer;
    border: 2px solid greenyellow;
    background-color: black;
    transition: all 0.15s ease;
}
.profile {
    border: 3px solid cyan;
    background-color: black;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: -1rem;
    padding: 0.3rem 0.5rem;
    align-self: center;
    width: max-content;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.face {
    border-radius: 100%;
    width: 2rem;
}
.name {
    margin: 0 0.5rem;    
}

/* MUSIC RECOMMENDATIONS */

.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice {
    width: 30%;
    border-radius: 5px;
}

/* SONG PLAYLIST */

.playlist{
    height: 200px;
    overflow-y: scroll;
}
.song {
    display: grid;
    align-items: center;
    grid-gap: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    grid-template-columns: 1fr 7fr 1fr 1fr;
    border-bottom: 1px solid white;
}
.favourite {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.cover {
    width: 2vw;
}
h2 {
    text-shadow: 0px 0px 3px;
    margin: 2rem 1rem;
}

/* MUSIC PLAYER */

.player {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem 0;
    margin: 1.5rem;
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
}
.playerImg {
    width: 20vw;
}
.songInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}
#name1{
    font-size: 1.3rem;
    text-shadow: 0px 0px 1.8px;
    margin-bottom: 0.2rem;
}
#name2{
    font-size: 0.8rem;
    width: 15vw;
    text-align: center;
}
.progressBar{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 -1rem;
}
.progress {
    width: 50%;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgba(1000, 1000, 1000, 0.7);
    height: 4px;
}
.lyrics {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: black;
    font-weight: bold;
    border: 2px solid cyan;
}
.fa-solid:hover {
    transition: all 0.2s ease;
    cursor: pointer;
    text-shadow: 2px 2px  cyan;
}
.fa-recycle, .fa-sort, .fa-headphones, .fa-forward, .fa-backward{
    font-size: 1.5rem;
}
.control {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1.3rem;
    padding: 0.5rem;
    justify-content: space-evenly;
}
.features {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.7rem 0 2rem 0;
}
.vol {
    width: 70%;
    box-shadow: 0px 0px 20px rgba(1000, 1000, 1000, 0.7);
    height: 4px;
}
.vol:hover, .progress:hover {
    cursor: pointer;
}
.songName{
    cursor: pointer;
    text-shadow: 0px 0px 1.8px;
}
.volume {
    display: flex;
    justify-content: space-between;
    align-items: center;
}