/* CSS FILE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-image: linear-gradient(to top right, rgb(169,47,193), rgb(42,17,101), rgb(34,45,158));
    background-attachment: fixed;
    padding: 5vh 8vw;
}
main{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}
h1 {
    margin-top: 5vh;
    text-shadow: 0px 0px 5px;
}
pre{
    line-height: 30px;
    letter-spacing: 0.5px;
}
img{
    margin: 2rem;
    box-shadow: 0px 0px 10px;
    max-width: 80vw;
}